.avatar-uploader{
  visibility:hidden;
}
.profile-img{
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:2px solid black;
}
.uploader{
  position: absolute;
  background: #FFFFFF;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  opacity: 0;
  padding-top:40%;
  left:30px;
  text-align:center;
  &:hover{
    opacity: 0.4;
    cursor: pointer;
  }
}